<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Superhero Phone Book</title>
  <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
  <script src="app.js"></script>
  <script src="controllers/Superheroes.js"></script>
  <script src="services/Superheroes.js"></script>
</head>
<body ng-app="superheroApp">

  <div class="container" ng-controller="SuperherosController as vm">

    <div class="header">
      <h1>Superheros Phone Book</h1>

      <!-- Search Box -->
      <input type="text" id="search-input" placeholder="Search for Superhero" name="search" value="" ng-model="vm.searchText">
      <div>{{vm.searchText}}</div>
    </div>

    <div class="image-wrapper" ng-show="vm.selected">
      <img class="superhero-image"
           ng-src="{{vm.selectedHero.photo_url}}"
           alt="photo of {{vm.selectedHero.name}}">
    </div>

    <!-- searchText  -->
    <ul class="row">
      <li ng-repeat="hero in vm.superheros | filter: { name: vm.searchText }"
          ng-class="vm.getComicAffiliation(hero)"
          class="superhero"
          class="column">

          <h4>{{hero.name}}</h4>
          <p>{{hero.phonenumber}}</p>
          <button ng-click="vm.selectHero(hero)"
                  ng-class="vm.getComicAffiliation(hero)">
          See Image
          </button>
      </li>
    </ul>
  </div>

</body>
</html>
