<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Superhero Phone Book</title>
  <link rel="stylesheet" href="style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
  <script src="app.js"></script>
  <script src="controllers/Superheroes.js"></script>
  <script src="services/Superheroes.js"></script>
</head>
<body ng-app="superheroApp">

  <div class="superheros" ng-controller="SuperherosController as vm">

    <!-- Search Box -->

    <h1>Superheros List</h1>
    <input type="text" id="search-input" placeholder="Search for Superhero" name="search" value="" ng-model="vm.searchText">
    <span>Searching For: {{vm.searchText}}<span>

    <!-- searchText  -->
    <ul class="superhero">
      <li ng-repeat="hero in vm.superheros | filter: { name: vm.searchText }"
          ng-class="hero.affiliation === 'Marvel'? 'marvel' : 'dccomics'">
        <h3>{{hero.name}}</h3>
        <p>{{hero.phonenumber}}</p>

        <button ng-click="vm.selectHero(hero)">See Image</button>


        <img ng-show="hero == vm.selectedHero" width="100px" height="200px" ng-src="./{{hero.photo_url}}" alt="hero.name">
      </li>
    </ul>
  </div>

</body>
</html>
