<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Superhero Phone Book</title>
  <link rel="stylesheet" href="style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
  <script src="app.js"></script>
  <script src="controllers/Superheroes.js"></script>
</head>
<body ng-app="superheroApp">

  <!-- <div ng-controller="SuperheroFormController as vm">
    <h2>Search for Superhero: </h2>
    <label for="search-input">Search</label>
    <input type="text" id="search-input" name="search" value="" ng-model="vm.searchText">
    <button ng-click="vm.searchSuperhero()">Search</button>
    <h2>Searching For: {{vm.searchText}}</h2>
  </div> -->

  <div class="superheros" ng-controller="SuperherosController as vm">

    <!-- Search Box -->
    <h1>Superheros List</h1>
    <h2>Search for Superhero: </h2>
    <label for="search-input">Search</label>
    <input type="text" id="search-input" name="search" value="" ng-model="vm.searchText">
    <h2>Searching For: {{vm.searchText}}</h2>

    <!-- searchText  -->
    <ul>
      <li ng-repeat="hero in vm.superheros | filter: vm.searchText"
          ng-class="hero.affiliation === 'Marvel'? 'marvel' : 'dccomics'">
        <div class=""><h3>{{hero.name}}<button ng-click="">See Image</button></h3></div>
        <p>{{hero.phonenumber}}</p>
      </li>
    </ul>
  </div>

</body>
</html>
