body {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
}

.superheros {
  margin: 0 auto;
}
li {
  list-style-type: none;
}

.marvel {
  background-color: red;
}

.dccomics {
  background-color: skyblue;
}

.hide {
  display: none;
}

img {

}
