<div [ngClass]="newSuperhero.affiliation" class="create-superhero-container">

       <span class="row create-superhero-open" *ngIf="!addHero" tooltip="Toggle Edit Mode" (click)="addHero = true">
              <fa-icon *ngIf="!addHero" [icon]="faCreateMode" size="5x" title="Add Hero" aria-hidden="true"></fa-icon>
       </span>

       <form class="create-superhero-form" #superheroForm="ngForm" *ngIf="addHero">

              <div class="row header">
                     <h3>Add Hero</h3>
              </div>

              <input type="text" placeholder="name" [(ngModel)]="newSuperhero.name" name="name" #name="ngModel">
              <input type="text" placeholder="phone number" [(ngModel)]="newSuperhero.phoneNumber" name="phonenumber"
                     #phoneNumber="ngModel">
              <input type="text" placeholder="image url" [(ngModel)]="newSuperhero.photoUrl" name="photo_url"
                     #photo_url="ngModel">

              <div class="row choose-affiliation">
                     <input type="radio" name="affiliation" value="marvel" [(ngModel)]="newSuperhero.affiliation"
                            (ngModelChange)="this.change()">marvel
                     <input type="radio" name="affiliation" value="dccomics" [(ngModel)]="newSuperhero.affiliation"
                            (ngModelChange)="this.change()">dc comics
              </div>

              <div class="row actions">
                     <fa-icon [icon]="faExit" title="Exit Add Hero" aria-hidden="true" (click)="addHero = false"></fa-icon>
                     <fa-icon [icon]="faCreate" title="Add Hero" aria-hidden="true" (click)="createHero()"></fa-icon>
              </div>

       </form>
</div>