body, div, header, button, input, span, ul, li, h3, h4, p, button, img {
  margin: 0;
  padding: 0;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.justify-center { justify-content: center; }

body {
  width: 100vw;
  height: 100vh;
  text-align: center;
  font-family: 'Saira Extra Condensed', sans-serif;
}

.container {
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

h1 {
  font-size: 50px;
  margin: 20px 0 10px 0;
}

.search {
  border: 1px solid black;
  text-align: center;
  font-size: 2.5vw;
  margin: 10px 0 20px 0;
  width: 35%;
}

.image-wrapper {
  align-self: center;
  width: 200px;
  height: 250px;
  margin: 5px auto 10px auto;
  overflow: hidden;
}

img {
    min-height: 100%;
    min-width: 100%;
    display: flex;
    margin: auto;
}

ul {
  width: 100%;
  flex-wrap: wrap;
  margin: 0 auto;
}

li {
  list-style-type: none;
  margin: 1px;
  width: 150px;
  height: 100px;
}

.superheroForm {
  margin-top: 20px;
  width: auto;
}

button {
  background-color: #FFFFFF;
  margin: 1px auto;
  width: 40%;
}

form {
  border: 1px solid black;
  margin: 5px 0;
}

form input {
  text-align: center;
}

.marvelBorder { border: 2px solid red; }

.dccomicsBorder { border: 2px solid skyblue; }

.marvelIcon { color: red; }

.marvelIcon:hover { color: darkred; }

.dccomicsIcon { color: skyblue; }

.dccomicsIcon:hover { color: blue; }
