<div class="edit-superhero-container" [ngClass]="superhero ? 'showHero' : ''">

       <form class="edit-superhero-form">
              <div class="superhero-img-wrapper justify-center border" [ngClass]="affiliation">
                     <img class="superhero-img" [src]="superhero.photoUrl" alt="photo of {{superhero.name}}">
              </div>
              <div class="form-group edit-superhero-wrapper" id="{{superhero.id}}">
                     <input class="form-control" type="text" placeholder="name" [(ngModel)]="superhero.name" name="name"
                            #name="ngModel">
                     <input class="form-control" type="text" placeholder="phone number"
                            [(ngModel)]="superhero.phoneNumber" name="phonenumber" #phoneNumber="ngModel">
                     <input class="form-control" type="text" placeholder="image url" [(ngModel)]="superhero.photoUrl"
                            name="photo_url" #photo_url="ngModel">

                     <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="affiliation" id="marvel" value="marvel"
                                   [(ngModel)]="superhero.affiliation" (ngModelChange)="this.change()" checked>
                            <label class="form-check-label" for="marvel">marvel</label>
                     </div>
                     <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="affiliation" id="dccomics"
                                   value="dccomics" [(ngModel)]="superhero.affiliation" (ngModelChange)="this.change()"
                                   checked>
                            <label class="form-check-label" for="dccomics">dc comics</label>
                     </div>

              </div>
       </form>
</div>