<app-superhero-details *ngIf="selectedHero"
                       [superhero]="selectedHero"
                       [affiliation]="getAffiliationClass(selectedHero)">
</app-superhero-details>

<ul class="superheroes row justify-center">

  <li class="superhero border" [ngClass]="affiliation">
    <app-create-superhero (changeAffiliation)="onAffiliationChange($event)"></app-create-superhero>
  </li>

  <li class="superhero column border"
      [ngClass]="getAffiliationClass(superhero)"
      *ngFor="let superhero of superheroes">
    <h4>{{superhero.name}}</h4>
    <p>{{superhero.phonenumber}}</p>
      <div (click)="selectSuperhero(superhero)">
        <i class="fa fa-picture-o fa-lg icon"
           aria-hidden="true">
        </i>
      </div>
  </li>
</ul>
