.superheroes {
  width: 100%;
  flex-wrap: wrap;
  margin: 0 auto;
}

.superhero {
  list-style-type: none;
  margin: 1px;
  width: 150px;
  height: 100px;
  border: 2px solid black;
}

.marvel {
  .icon {  color: red; }

  &.border {
    border: 2px solid red;
  }

  &:hover {
    color: darkred;

    .icon { color: darkred; }
  }
}

.dccomics {
  .icon { color: skyblue; }

  &.border {
    border: 2px solid skyblue;
  }

  &:hover {
    color: blue;

    .icon { color: blue; }
   }
}
