:host {
  .phonebook-wrapper {
    display: flex;
    justify-content: flex-start;
    height: 100%;

    .phonebook-binding {
      background-color: black;
      width: 2vw;
      flex-grow: 1;
    }
  }
}
