/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Saira+Extra+Condensed');

body, div, header, button, input, span, ul, li, h3, h4, p, button, img {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  font-family: 'Saira Extra Condensed', sans-serif;
  width:80%;
  height:100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
  flex-direction: row;
}
.column {
  display: flex;
  flex-direction: column;
}

.justify-center { justify-content: center; }

.border {
  border: 2px solid black;
}

.marvel {
  .icon {  color: red; }

  &.border {
    border: 2px solid red;
  }

  &:hover {
    color: darkred;

    .icon { color: darkred; }
  }
}

.dccomics {
  .icon { color: skyblue; }

  &.border {
    border: 2px solid skyblue;
  }

  &:hover {
    color: blue;

    .icon { color: blue; }
   }
}

.no-affiliation {
  &.border {
    border: 2px solid black;
  }
}
